:root {
  --type-bug: #9BBA48;
  --type-dark: #595761;
  --type-dragon: #2C6AC1;
  --type-electric: #D4BC34;
  --type-fairy: #E296E1;
  --type-fighting: #C44D61;
  --type-ground: #CE8056;
  --type-ice: #71BAAC;
  --type-normal: #909090;
  --type-poison: #AC6ACA;
  --type-psychic: #EB8B85;
  --type-rock: #84BEB3;
  --type-ghost: #616EB7;
  --type-grass: #73B861;
  --type-steel: #6594A1;
  --type-water: #4F77BE;
  --type-fire: #E96303;
  --type-flying: #758CBD;
  --type-opacity-bug: rgba(155, 186, 72, 0.2);
  --type-opacity-dark: rgba(89, 87, 97, 0.2);
  --type-opacity-dragon: rgba(43, 105, 191, 0.2);
  --type-opacity-electric: rgba(212, 188, 52, 0.2);
  --type-opacity-fairy: rgba(226, 150, 225, 0.2);
  --type-opacity-fighting: rgba(196, 77, 97, 0.2);
  --type-opacity-ground: rgba(206, 128, 86, 0.2);
  --type-opacity-ice: rgba(113, 186, 172, 0.2);
  --type-opacity-normal: rgba(144, 144, 144, 0.2);
  --type-opacity-poison: rgba(172, 106, 202, 0.2);
  --type-opacity-psychic: rgba(235, 139, 133, 0.2);
  --type-opacity-rock: rgba(132, 190, 179, 0.2);
  --type-opacity-ghost: rgba(97, 110, 183, 0.2);
  --type-opacity-grass: rgba(115, 184, 97, 0.2);
  --type-opacity-steel: rgba(101, 148, 161, 0.2);
  --type-opacity-water: rgba(79, 119, 190, 0.2);
  --type-opacity-fire: rgba(233, 99, 3, 0.2);
  --type-opacity-flying: rgba(117, 140, 189, 0.2);
  --blue-primary: #3F5DB3;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  list-style: none;
  font-family: "Inter", sans-serif;
}

html {
  font-size: 62.5%;
}

button {
  cursor: pointer;
  border: 0;
  background-color: transparent;
}
button[disabled] {
  cursor: not-allowed;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  display: block;
}

ul {
  list-style: none;
}

.container {
  width: 100%;
  max-width: 124.6rem;
  margin: 0 auto;
  padding: 0px 1.5rem;
}

.tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.8rem;
  background-color: #fff;
  border-radius: 244px;
  max-width: 12.1rem;
  padding: 0.4rem 0.6rem;
}
.tag.blue-tag .icon {
  background-color: rgba(63, 103, 186, 0.12);
}
.tag.blue-tag span {
  color: #3F67BA;
}
.tag .icon {
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 50%;
  background-color: rgba(194, 0, 0, 0.12);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.tag span {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 150%;
  color: #C20001;
}

.search {
  width: 100%;
  max-width: 40.3rem;
  height: 5.6rem;
  padding: 0.7rem;
  padding-left: 2.5rem;
  background: #FFFFFF;
  border-radius: 122px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.search input[type=text] {
  width: calc(100% - 5.8rem);
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 150%;
  border: 0;
  outline: none;
}
.search input[type=text]::-webkit-input-placeholder {
  color: #A0AFBA;
}
.search input[type=text]::-moz-placeholder {
  color: #A0AFBA;
}
.search input[type=text]:-ms-input-placeholder {
  color: #A0AFBA;
}
.search input[type=text]::-ms-input-placeholder {
  color: #A0AFBA;
}
.search input[type=text]::placeholder {
  color: #A0AFBA;
}
.search button {
  width: 4.2rem;
  height: 4.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: rgba(158, 185, 225, 0.1);
  border: 1px solid transparent;
  border-radius: 50%;
  -webkit-transition: border-color 0.3s;
  transition: border-color 0.3s;
}
.search button:hover {
  border-color: #3F67BA;
}

.typer-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.8rem;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.6;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.typer-filter:hover, .typer-filter.active {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  opacity: 1;
}
.typer-filter .icon {
  width: 2.8rem;
  height: 2.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.typer-filter span {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 150%;
}
.typer-filter.all span {
  color: var(--blue-primary);
}
.typer-filter.ghost span {
  color: var(--type-ghost);
}
.typer-filter.bug span {
  color: var(--type-bug);
}
.typer-filter.dark span {
  color: var(--type-dark);
}
.typer-filter.dragon span {
  color: var(--type-dragon);
}
.typer-filter.electric span {
  color: var(--type-electric);
}
.typer-filter.fairy span {
  color: var(--type-fairy);
}
.typer-filter.fighting span {
  color: var(--type-fighting);
}
.typer-filter.ground span {
  color: var(--type-ground);
}
.typer-filter.ice span {
  color: var(--type-ice);
}
.typer-filter.normal span {
  color: var(--type-normal);
}
.typer-filter.poison span {
  color: var(--type-poison);
}
.typer-filter.psychic span {
  color: var(--type-psychic);
}
.typer-filter.rock span {
  color: var(--type-rock);
}
.typer-filter.grass span {
  color: var(--type-grass);
}
.typer-filter.steel span {
  color: var(--type-steel);
}
.typer-filter.water span {
  color: var(--type-water);
}
.typer-filter.fire span {
  color: var(--type-fire);
}
.typer-filter.flying span {
  color: var(--type-flying);
}

.card-pokemon {
  position: relative;
  width: 100%;
  max-width: 28rem;
  height: 30.4rem;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 10px 51px -5px rgba(183, 189, 193, 0.3);
  box-shadow: 0px 10px 51px -5px rgba(183, 189, 193, 0.3);
  border-radius: 12px;
  z-index: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.card-pokemon:hover {
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
  -webkit-box-shadow: 0px 12px 40px -5px rgba(90, 96, 100, 0.3);
  box-shadow: 0px 12px 40px -5px rgba(90, 96, 100, 0.3);
}
.card-pokemon .image {
  position: relative;
  width: 20rem;
  height: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 1.4rem;
}
.card-pokemon .image:after {
  content: "";
  width: 16.5rem;
  height: 16.5rem;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
  opacity: 0.2;
}
.card-pokemon .info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 2.8rem;
}
.card-pokemon .info .text span {
  display: block;
  text-align: left;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 150%;
  color: #7A7D80;
  margin-bottom: 0.6rem;
}
.card-pokemon .info .icon {
  margin-bottom: 1rem;
}
@media (max-width: 1200px) {
  .card-pokemon {
    max-width: 100%;
  }
}

.card-pokemon.grass .image:after {
  background-color: var(--type-grass);
}
.card-pokemon.bug .image:after {
  background-color: var(--type-bug);
}
.card-pokemon.dark .image:after {
  background-color: var(--type-dark);
}
.card-pokemon.dragon .image:after {
  background-color: var(--type-dragon);
}
.card-pokemon.electric .image:after {
  background-color: var(--type-electric);
}
.card-pokemon.fairy .image:after {
  background-color: var(--type-fairy);
}
.card-pokemon.fighting .image:after {
  background-color: var(--type-fighting);
}
.card-pokemon.ground .image:after {
  background-color: var(--type-ground);
}
.card-pokemon.ice .image:after {
  background-color: var(--type-ice);
}
.card-pokemon.normal .image:after {
  background-color: var(--type-normal);
}
.card-pokemon.poison .image:after {
  background-color: var(--type-poison);
}
.card-pokemon.psychic .image:after {
  background-color: var(--type-psychic);
}
.card-pokemon.rock .image:after {
  background-color: var(--type-rock);
}
.card-pokemon.ghost .image:after {
  background-color: var(--type-ghost);
}
.card-pokemon.water .image:after {
  background-color: var(--type-water);
}
.card-pokemon.steel .image:after {
  background-color: var(--type-steel);
}
.card-pokemon.fire .image:after {
  background-color: var(--type-fire);
}
.card-pokemon.flying .image:after {
  background-color: var(--type-flying);
}

.tag-type {
  display: inline-block;
  padding: 0px 25px;
  line-height: 2.4rem;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.3rem;
  text-align: center;
  letter-spacing: -0.01em;
}
.tag-type.grass {
  color: var(--type-grass);
  background-color: var(--type-opacity-grass);
}
.tag-type.bug {
  color: var(--type-bug);
  background-color: var(--type-opacity-bug);
}
.tag-type.dark {
  color: var(--type-dark);
  background-color: var(--type-opacity-dark);
}
.tag-type.dragon {
  color: var(--type-dragon);
  background-color: var(--type-opacity-dragon);
}
.tag-type.electric {
  color: var(--type-electric);
  background-color: var(--type-opacity-electric);
}
.tag-type.fairy {
  color: var(--type-fairy);
  background-color: var(--type-opacity-fairy);
}
.tag-type.fighting {
  color: var(--type-fighting);
  background-color: var(--type-opacity-fighting);
}
.tag-type.ground {
  color: var(--type-ground);
  background-color: var(--type-opacity-ground);
}
.tag-type.ice {
  color: var(--type-ice);
  background-color: var(--type-opacity-ice);
}
.tag-type.normal {
  color: var(--type-normal);
  background-color: var(--type-opacity-normal);
}
.tag-type.poison {
  color: var(--type-poison);
  background-color: var(--type-opacity-poison);
}
.tag-type.psychic {
  color: var(--type-psychic);
  background-color: var(--type-opacity-psychic);
}
.tag-type.rock {
  color: var(--type-rock);
  background-color: var(--type-opacity-rock);
}
.tag-type.ghost {
  color: var(--type-ghost);
  background-color: var(--type-opacity-ghost);
}
.tag-type.water {
  color: var(--type-water);
  background-color: var(--type-opacity-water);
}
.tag-type.steel {
  color: var(--type-steel);
  background-color: var(--type-opacity-steel);
}
.tag-type.fire {
  color: var(--type-fire);
  background-color: var(--type-opacity-fire);
}
.tag-type.flying {
  color: var(--type-flying);
  background-color: var(--type-opacity-flying);
}

.btn-load-more {
  padding: 1.4rem 2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.4rem;
  letter-spacing: -0.01em;
  color: var(--blue-primary);
  background-color: rgba(63, 93, 179, 0.1);
  border-radius: 6px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.btn-load-more:hover {
  background-color: var(--blue-primary);
  color: #fff;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 2023;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.modal .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal[type-pokemon-modal=bug] .box .left-content {
  background-image: url("../img/bg-types/bug.svg");
}
.modal[type-pokemon-modal=dark] .box .left-content {
  background-image: url("../img/bg-types/dark.svg");
}
.modal[type-pokemon-modal=dragon] .box .left-content {
  background-image: url("../img/bg-types/dragon.svg");
}
.modal[type-pokemon-modal=electric] .box .left-content {
  background-image: url("../img/bg-types/electric.svg");
}
.modal[type-pokemon-modal=fairy] .box .left-content {
  background-image: url("../img/bg-types/fairy.svg");
}
.modal[type-pokemon-modal=fighting] .box .left-content {
  background-image: url("../img/bg-types/fighting.svg");
}
.modal[type-pokemon-modal=ground] .box .left-content {
  background-image: url("../img/bg-types/ground.svg");
}
.modal[type-pokemon-modal=ice] .box .left-content {
  background-image: url("../img/bg-types/ice.svg");
}
.modal[type-pokemon-modal=normal] .box .left-content {
  background-image: url("../img/bg-types/normal.svg");
}
.modal[type-pokemon-modal=poison] .box .left-content {
  background-image: url("../img/bg-types/poison.svg");
}
.modal[type-pokemon-modal=psychic] .box .left-content {
  background-image: url("../img/bg-types/psychic.svg");
}
.modal[type-pokemon-modal=rock] .box .left-content {
  background-image: url("../img/bg-types/rock.svg");
}
.modal[type-pokemon-modal=ghost] .box .left-content {
  background-image: url("../img/bg-types/ghost.svg");
}
.modal[type-pokemon-modal=grass] .box .left-content {
  background-image: url("../img/bg-types/grass.svg");
}
.modal[type-pokemon-modal=steel] .box .left-content {
  background-image: url("../img/bg-types/steel.svg");
}
.modal[type-pokemon-modal=water] .box .left-content {
  background-image: url("../img/bg-types/water.svg");
}
.modal[type-pokemon-modal=fire] .box .left-content {
  background-image: url("../img/bg-types/fire.svg");
}
.modal[type-pokemon-modal=flying] .box .left-content {
  background-image: url("../img/bg-types/flying.svg");
}
.modal .box {
  position: relative;
  width: 100%;
  max-width: 71rem;
  background-color: #fff;
  z-index: 1;
  border-radius: 1.6rem;
  -webkit-box-shadow: 0px 10px 40px rgba(13, 12, 72, 0.05);
  box-shadow: 0px 10px 40px rgba(13, 12, 72, 0.05);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translateY(4rem);
  transform: translateY(4rem);
  -webkit-transition: -webkit-transform 0.3s ease-in;
  transition: -webkit-transform 0.3s ease-in;
  transition: transform 0.3s ease-in;
  transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in;
}
.modal .box .close {
  position: absolute;
  top: -4.4rem;
  right: 0;
  width: 3.6rem;
  height: 3.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 8px;
}
.modal .box .left-content {
  position: relative;
  width: 100%;
  max-width: 19.1rem;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.modal .box .left-content .icon {
  position: absolute;
  top: 2rem;
  right: 2rem;
  width: 3.4rem;
  height: 3.4rem;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 50%;
}
.modal .box .left-content .image {
  position: relative;
  right: -2.5rem;
  width: 100%;
  max-width: 20.2rem;
}
.modal .box .left-content .image img {
  width: 100%;
}
.modal .box .right-content {
  padding: 3.5rem 7.4rem 2.9rem 7.4rem;
}
.modal .box .right-content .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  gap: 0.8rem;
  margin-bottom: 0.8rem;
}
.modal .box .right-content .name h2 {
  font-weight: 700;
  font-size: 2.8rem;
  line-height: 3.4rem;
  letter-spacing: -0.01em;
  color: #2F3133;
}
.modal .box .right-content .name span {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2rem;
  letter-spacing: -0.01em;
  color: #7A7D80;
  margin-bottom: 0.7rem;
}
.modal .box .right-content .type {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 3.2rem;
}
.modal .box .right-content .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 4.8rem;
  margin-bottom: 3.2rem;
}
.modal .box .right-content .info li span {
  display: block;
  font-size: 1.3rem;
  line-height: 1.6rem;
  letter-spacing: -0.01em;
  color: #7A7D80;
  margin-bottom: 0.4rem;
}
.modal .box .right-content .info li strong {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.7rem;
  letter-spacing: -0.01em;
  color: #2F3133;
}
.modal .box .right-content .weak {
  margin-bottom: 3.2rem;
}
.modal .box .right-content .weak h4 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 1.6rem;
  letter-spacing: -0.01em;
  color: #4D5053;
  margin-bottom: 1.6rem;
}
.modal .box .right-content .weak ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 1rem;
}
.modal .box .right-content .stats h5 {
  margin-bottom: 1.6rem;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 1.6rem;
  letter-spacing: -0.01em;
  color: #4D5053;
}
.modal .box .right-content .stats .all .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.modal .box .right-content .stats .all .item:not(:last-child) {
  margin-bottom: 1.3rem;
}
.modal .box .right-content .stats .all .item span {
  display: block;
  width: 6.8rem;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: #7A7D80;
  white-space: nowrap;
}
.modal .box .right-content .stats .all .item .bar-status {
  position: relative;
  width: calc(100% - 8rem);
  max-width: 28.3rem;
  height: 0.3rem;
  background-color: #EFF3F6;
}
.modal .box .right-content .stats .all .item .bar-status .bar {
  width: 50%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 0;
  background-color: #C20001;
}
.modal .box .right-content .stats .all .item .bar-status .separator {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}
.modal .box .right-content .stats .all .item .bar-status .separator li {
  width: 0.4rem;
  height: 0.3rem;
  background-color: #fff;
}
@media (max-width: 560px) {
  .modal {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
  .modal .box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 90%;
    width: 100%;
    border-radius: 0;
  }
  .modal .box .close {
    top: -3.6rem;
    right: 0rem;
    border-radius: 0.8rem 0.8rem 0 0;
  }
  .modal .box .close img {
    width: 2.5rem;
  }
  .modal .box .left-content {
    max-width: 100%;
    height: 12.5rem;
    background-position: center;
  }
  .modal .box .left-content .image {
    position: absolute;
    left: 50%;
    width: 12rem;
    margin-left: -6rem;
    bottom: -3rem;
  }
  .modal .box .left-content .image img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
  .modal .box .right-content {
    padding: 4rem 2.4rem;
  }
  .modal .box .right-content .name, .modal .box .right-content .type, .modal .box .right-content .info {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .modal .box .right-content .weak h4 {
    text-align: center;
  }
  .modal .box .right-content .weak ul {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .modal .box .right-content .stats h5 {
    text-align: center;
  }
  .modal .box .right-content .stats .all .item .bar-status {
    max-width: calc(100% - 8rem);
  }
}

.open-modal .modal {
  opacity: 1;
  pointer-events: all;
}
.open-modal .modal .box {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

h1, h2, h3 {
  font-family: "Montserrat", sans-serif;
  line-height: 150%;
}

h1, h2 {
  font-weight: bold;
  letter-spacing: -0.01em;
}

h2, h3 {
  color: #2f3133;
}

h1 {
  font-size: 6.4rem;
  color: #fff;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-weight: 600;
  font-size: 1.8rem;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  height: 11.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 2023;
}
header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
header .container p {
  font-style: normal;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.6rem;
  color: #FFFFFF;
}
@media (max-width: 560px) {
  header {
    height: 8.2rem;
  }
  header img {
    max-width: 12.9rem;
  }
}

footer {
  background: var(--blue-primary);
}
footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 18.9rem;
}
footer .container .text h3 {
  color: #fff;
  font-family: "Inter", sans-serif;
  line-height: 180%;
}
footer .container .text p {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 180%;
  color: rgba(255, 255, 255, 0.8);
}
@media (max-width: 560px) {
  footer {
    padding: 4rem 0;
  }
  footer .container {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  footer .container .text {
    margin-bottom: 4.8rem;
  }
  footer .container .text h3 {
    text-align: center;
  }
  footer .container .text p {
    text-align: center;
  }
}

.s-area-slide-hero {
  position: relative;
  width: 100%;
  height: 99.4rem;
}
.s-area-slide-hero .slide-hero {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.s-area-slide-hero .slide-hero .swiper-slide:after {
  content: "";
  width: 100%;
  height: 28.8rem;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #eff3f6;
  z-index: 0;
  pointer-events: none;
}
.s-area-slide-hero .slide-hero .swiper-slide.blue .main-area {
  background-image: url("../img/bg-blue.svg");
}
.s-area-slide-hero .slide-hero .swiper-slide.blue .main-area .text .image .pokeball {
  position: relative;
  top: -6.5rem;
  left: 1.3rem;
}
.s-area-slide-hero .slide-hero .swiper-slide.blue .main-area .area-explorer .text .icon {
  background-color: rgba(175, 192, 227, 0.3);
}
.s-area-slide-hero .slide-hero .swiper-slide .main-area {
  background: url("../img/bg-red.svg") no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 70.6rem;
  padding-top: 13.3rem;
  position: relative;
}
.s-area-slide-hero .slide-hero .swiper-slide .main-area .container {
  position: relative;
  height: 100%;
}
.s-area-slide-hero .slide-hero .swiper-slide .main-area .text .tag {
  margin: 0 auto;
}
.s-area-slide-hero .slide-hero .swiper-slide .main-area .text h1 {
  text-align: center;
  margin-bottom: 0.8rem;
  margin-top: 2.9rem;
}
.s-area-slide-hero .slide-hero .swiper-slide .main-area .text p {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 150%;
  text-align: center;
  color: #FFFFFF;
}
.s-area-slide-hero .slide-hero .swiper-slide .main-area .text .image {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 79.8rem;
  margin: 0 auto;
  margin-top: 12.2rem;
}
.s-area-slide-hero .slide-hero .swiper-slide .main-area .text .image .lights {
  position: absolute;
  top: -4.9rem;
  left: 50%;
  margin-left: -8.5rem;
}
.s-area-slide-hero .slide-hero .swiper-slide .main-area .area-explorer {
  position: absolute;
  bottom: 8rem;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.s-area-slide-hero .slide-hero .swiper-slide .main-area .area-explorer .text {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  top: -3.9rem;
  left: -2.4rem;
}
.s-area-slide-hero .slide-hero .swiper-slide .main-area .area-explorer .text .icon {
  width: 4rem;
  height: 4rem;
  background-color: #C90C0C;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.s-area-slide-hero .slide-hero .swiper-slide .main-area .area-explorer .text span {
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 150%;
  color: #fff;
  margin-left: 3rem;
}
.s-area-slide-hero .slide-hero .swiper-slide .main-area .area-explorer .swiper-pagination {
  position: relative;
}
.s-area-slide-hero .slide-hero .swiper-slide .main-area .area-explorer .swiper-pagination .swiper-pagination-bullet {
  width: 0.7rem;
  height: 0.7rem;
  background-color: #fff;
}
.s-area-slide-hero .slide-hero .swiper-slide .main-area .area-explorer .swiper-pagination .swiper-pagination-bullet:not(:first-child) {
  margin-left: 0.8rem;
}
@media (max-width: 820px) {
  .s-area-slide-hero {
    height: 95.4rem;
  }
  .s-area-slide-hero .slide-hero .swiper-slide.blue .main-area .text h1 {
    max-width: 38.5rem;
    text-align: center;
    margin: 0 auto;
    margin-top: 2.9rem;
    margin-bottom: 2.4rem;
  }
  .s-area-slide-hero .slide-hero .swiper-slide:after {
    height: 25rem;
  }
  .s-area-slide-hero .slide-hero .swiper-slide .main-area .text h1 {
    max-width: 38.5rem;
    margin: 0 auto;
    margin-top: 2.9rem;
    margin-bottom: 2.4rem;
    line-height: 100%;
  }
  .s-area-slide-hero .slide-hero .swiper-slide .main-area .text .image {
    margin-top: 8.2rem;
  }
  .s-area-slide-hero .slide-hero .swiper-slide .main-area .area-explorer {
    display: none;
  }
}
@media (max-width: 560px) {
  .s-area-slide-hero {
    overflow: hidden;
    height: 104.5rem;
  }
  .s-area-slide-hero .slide-hero .swiper-slide.blue .main-area .text h1 {
    max-width: 25.4rem;
  }
  .s-area-slide-hero .slide-hero .swiper-slide .main-area {
    padding-top: 12rem;
  }
  .s-area-slide-hero .slide-hero .swiper-slide .main-area .text h1 {
    font-size: 4.8rem;
    line-height: 5.9rem;
  }
  .s-area-slide-hero .slide-hero .swiper-slide .main-area .image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .s-area-slide-hero .slide-hero .swiper-slide .main-area .image img {
    max-width: 72rem;
  }
  .s-area-slide-hero .slide-hero .swiper-slide::after {
    height: 34rem;
  }
}

.s-all-info-pokemons {
  position: relative;
  padding-top: 11.9rem;
  margin-top: -28.8rem;
  z-index: 2;
}
.s-all-info-pokemons .top {
  height: 16.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.s-all-info-pokemons .top h2 {
  width: 100%;
  max-width: 26.5rem;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 3.9rem;
  letter-spacing: -0.01em;
  color: #2F3133;
}
.s-all-info-pokemons .top .search {
  margin-top: 2.2rem;
}
.s-all-info-pokemons .area-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.s-all-info-pokemons .area-all .left-container {
  width: 100%;
  max-width: 23.9rem;
  border-right: 1px solid #EFF3F6;
  padding-top: 7.1rem;
}
.s-all-info-pokemons .area-all .left-container ul li:not(:last-child) {
  margin-bottom: 4rem;
}
.s-all-info-pokemons .area-all .right-container {
  width: 100%;
  padding: 7.1rem 0 7.5rem 7.5rem;
}
.s-all-info-pokemons .area-all .right-container .top-container {
  margin-bottom: 7rem;
}
.s-all-info-pokemons .area-all .right-container .top-container > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1.6rem;
}
.s-all-info-pokemons .area-all .right-container .top-container > div span {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 150%;
  color: #4D5053;
}
.s-all-info-pokemons .area-all .right-container .select-custom {
  display: none;
}
.s-all-info-pokemons .area-all .right-container .all {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3.2rem;
  margin-bottom: 6.8rem;
}
.s-all-info-pokemons .area-all .right-container .btn-load-more {
  display: table;
  margin: 0 auto;
}
@media (max-width: 1200px) {
  .s-all-info-pokemons .top .search {
    max-width: 32.3rem;
  }
  .s-all-info-pokemons .area-all .left-container {
    max-width: 15.9rem;
    padding-top: 4rem;
  }
  .s-all-info-pokemons .area-all .right-container {
    padding-top: 4rem;
    padding-left: 2.5rem;
    padding-bottom: 4rem;
  }
  .s-all-info-pokemons .area-all .right-container .top-container {
    margin-bottom: 4rem;
  }
  .s-all-info-pokemons .area-all .right-container .all {
    grid-gap: 2rem;
  }
}
@media (max-width: 820px) {
  .s-all-info-pokemons {
    margin-top: -25.8rem;
  }
  .s-all-info-pokemons .area-all .left-container {
    display: none;
  }
  .s-all-info-pokemons .area-all .right-container {
    padding-left: 0;
  }
  .s-all-info-pokemons .area-all .right-container .select-custom {
    display: block;
    position: relative;
    margin-bottom: 5.5rem;
  }
  .s-all-info-pokemons .area-all .right-container .select-custom .item-selected {
    cursor: pointer;
    width: 100%;
    height: 5.6rem;
    border: 1px solid #a0afba;
    background: url("../img/arrow-down-select.svg") no-repeat right 2.4rem center;
    padding: 0 2rem;
    border-radius: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .s-all-info-pokemons .area-all .right-container .select-custom .item-selected span {
    color: #7A7D80;
    opacity: 0.6;
    font-size: 1.4rem;
    margin-right: 0.4rem;
  }
  .s-all-info-pokemons .area-all .right-container .select-custom .item-selected strong {
    font-size: 1.4rem;
    color: #7A7D80;
    font-weight: 600;
  }
  .s-all-info-pokemons .area-all .right-container .select-custom.active .item-selected {
    border-radius: 1rem 1rem 0 0;
  }
  .s-all-info-pokemons .area-all .right-container .select-custom.active .dropdown-select {
    opacity: 1;
    pointer-events: all;
  }
  .s-all-info-pokemons .area-all .right-container .select-custom .dropdown-select {
    position: absolute;
    top: 5.6rem;
    width: 100%;
    height: 22.3rem;
    z-index: 2;
    border: 1px solid #a0afba;
    border-top: 0;
    background-color: #fff;
    padding: 2.1rem;
    overflow-y: auto;
    border-radius: 0 0 1rem 1rem;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .s-all-info-pokemons .area-all .right-container .select-custom .dropdown-select::-webkit-scrollbar-track {
    background-color: transparent;
  }
  .s-all-info-pokemons .area-all .right-container .select-custom .dropdown-select::-webkit-scrollbar {
    width: 0.5rem;
    background-color: transparent;
  }
  .s-all-info-pokemons .area-all .right-container .select-custom .dropdown-select::-webkit-scrollbar-thumb {
    background-color: var(--blue-primary);
    border-radius: 4px;
  }
  .s-all-info-pokemons .area-all .right-container .select-custom .dropdown-select li:first-child button {
    padding-top: 0;
  }
  .s-all-info-pokemons .area-all .right-container .select-custom .dropdown-select li button {
    padding: 1.2rem 0;
  }
}
@media (max-width: 560px) {
  .s-all-info-pokemons {
    margin-top: -34rem;
    padding-top: 12rem;
    padding-bottom: 4rem;
  }
  .s-all-info-pokemons .top {
    display: block;
    margin-bottom: 6.6rem;
  }
  .s-all-info-pokemons .top h2 {
    text-align: center;
    margin: 0 auto;
  }
  .s-all-info-pokemons .top .search {
    margin: 0 auto;
    margin-top: 2.5rem;
  }
  .s-all-info-pokemons .area-all .right-container .all {
    max-width: 86%;
    grid-template-columns: 1fr;
    grid-gap: 1.6rem;
    margin: 0 auto;
    margin-bottom: 4.8rem;
  }
}