.tag{
    display: flex;
    align-items: center;
    gap: .8rem ;
    background-color: #fff;
    border-radius: 244px;
    max-width: 12.1rem;
    padding: .4rem .6rem;

    &.blue-tag{
        .icon{
            background-color: rgba(63, 103, 186, .12);
        }

        span{
            color: #3F67BA;
        }
    }

    .icon{
        width: 2.6rem;
        height: 2.6rem;
        border-radius: 50%;
        background-color: rgba(194, 0, 0, 0.12);
        @include centerTotalFlex;
    }

    span{
        font-family: 'Inter', sans-serif;
        font-weight: 600;
        font-size: 1.5rem;
        line-height: 150%;
        color: #C20001;
    }
}

.search{
    width: 100%;
    max-width: 40.3rem;
    height: 5.6rem;
    padding: .7rem;
    padding-left: 2.5rem;
    background: #FFFFFF;
    border-radius: 122px;
    display: flex;
    align-items: center;
    justify-content:space-between;

    input[type=text]{
        width: calc(100% - 5.8rem);
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 150%;
        border: 0;
        outline: none;

        &::placeholder{
            color: #A0AFBA;
        }
    }
    button{
        width: 4.2rem;
        height: 4.2rem;
        @include centerTotalFlex;
        background: rgb(158, 185, 225, .1);
        border: 1px solid transparent;
        border-radius: 50%;
        transition: border-color .3s ;
        &:hover{
            border-color: #3F67BA;
        }
    }
}

.typer-filter{
    display: flex;
    align-items: center;
    gap: .8rem; 
    filter: grayscale(100%);
    opacity: 0.6;
    transition: opacity .3s;

    &:hover,
    &.active{
        filter: grayscale(0%);
        opacity: 1;
    }

    .icon{
        width: 2.8rem;
        height: 2.8rem;
        @include centerTotalFlex;
    }

    span{
        font-family: 'Inter', sans-serif;
        font-weight: 500;
        font-size: 1.5rem;
        line-height: 150%;
    }

    &.all{
        span{color: var(--blue-primary);}
    }

    &.ghost{
        span{color: var(--type-ghost);}
    }

    &.bug{
        span{color: var(--type-bug);}
    }

    &.dark{
        span{color: var(--type-dark);}
    }

    &.dragon{
        span{color: var(--type-dragon);}
    }

    &.electric{
        span{color: var(--type-electric);}
    }

    &.fairy{
        span{color: var(--type-fairy);}
    }

    &.fighting{
        span{color: var(--type-fighting);}
    }

    &.ground{
        span{color: var(--type-ground);}
    }

    &.ice{
        span{color: var(--type-ice);}
    }

    &.normal{
        span{color: var(--type-normal);}
    }

    &.poison{
        span{color: var(--type-poison);}
    }

    &.psychic{
        span{color: var(--type-psychic);}
    }

    &.rock{
        span{color: var(--type-rock);}
    }

    &.grass{
        span{color: var(--type-grass);}
    }

    &.steel{
        span{color: var(--type-steel);}
    }

    &.water{
        span{color: var(--type-water);}
    }

    &.fire{
        span{color: var(--type-fire);}
    }

    &.flying{
        span{color: var(--type-flying);}
    }
}

.card-pokemon{
    position: relative;
    width: 100%;
    max-width: 28rem;
    height: 30.4rem;
    background: #FFFFFF;
    box-shadow: 0px 10px 51px -5px rgba(183, 189, 193, 0.3);
    border-radius: 12px;
    z-index: 1;
    transition: all .3s;

    &:hover{
        transform: scale(1.02);
        box-shadow: 0px 12px 40px -5px rgba(90,96,100,0.3);
    }

    .image{
        position: relative;
        width: 20rem;
        height: 20rem;
        @include centerTotalFlex;
        margin: 0 auto;
        margin-bottom: 1.4rem;

        &:after{
            content:"";
            width: 16.5rem;
            height: 16.5rem;
            border-radius: 50%;
            position: absolute;
            z-index: -1;
            opacity: .2;
        }
    }

    .info{
        width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        padding: 0 2.8rem;

        .text{
            span{
                display: block;
                text-align:left;
                font-weight: 500;
                font-size: 1.3rem;
                line-height: 150%;
                color: #7A7D80;
                margin-bottom: .6rem;
            }
        }

        .icon{
            margin-bottom: 1rem;
        }
    }

    @media(max-width: 1200px){
        max-width: 100%;
    }
}

.card-pokemon{
    &.grass{
        .image:after{
            background-color: var(--type-grass);
        }
    }

    &.bug{
        .image:after{
            background-color: var(--type-bug);
        }
    }

    &.dark{
        .image:after{
            background-color: var(--type-dark);
        }
    }

    &.dragon{
        .image:after{
            background-color: var(--type-dragon);
        }
    }

    &.electric{
        .image:after{
            background-color: var(--type-electric);
        }
    }

    &.fairy{
        .image:after{
            background-color: var(--type-fairy);
        }
    }

    &.fighting{
        .image:after{
            background-color: var(--type-fighting);
        }
    }

    &.ground{
        .image:after{
            background-color: var(--type-ground);
        }
    }

    &.ice{
        .image:after{
            background-color: var(--type-ice);
        }
    }

    &.normal{
        .image:after{
            background-color: var(--type-normal);
        }
    }

    &.poison{
        .image:after{
            background-color: var(--type-poison);
        }
    }

    &.psychic{
        .image:after{
            background-color: var(--type-psychic);
        }
    }

    &.rock{
        .image:after{
            background-color: var(--type-rock);
        }
    }

    &.ghost{
        .image:after{
            background-color: var(--type-ghost);
        }
    }

    &.water{
        .image:after{
            background-color: var(--type-water);
        }
    }

    &.steel{
        .image:after{
            background-color: var(--type-steel);
        }
    }

    &.fire{
        .image:after{
            background-color: var(--type-fire);
        }
    }

    &.flying{
        .image:after{
            background-color: var(--type-flying);
        }
    }
}

.tag-type{
    display: inline-block;
    padding: 0px 25px;
    line-height: 2.4rem;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.3rem;
    text-align: center;
    letter-spacing: -0.01em;

    &.grass{
        color: var(--type-grass);
        background-color: var(--type-opacity-grass);
    }

    &.bug{
        color: var(--type-bug);
        background-color: var(--type-opacity-bug);
    }

    &.dark{
        color: var(--type-dark);
        background-color: var(--type-opacity-dark);
    }

    &.dragon{
        color: var(--type-dragon);
        background-color: var(--type-opacity-dragon);
    }

    &.electric{
        color: var(--type-electric);
        background-color: var(--type-opacity-electric);
    }

    &.fairy{
        color: var(--type-fairy);
        background-color: var(--type-opacity-fairy);
    }

    &.fighting{
        color: var(--type-fighting);
        background-color: var(--type-opacity-fighting);
    }

    &.ground{
        color: var(--type-ground);
        background-color: var(--type-opacity-ground);
    }

    &.ice{
        color: var(--type-ice);
        background-color: var(--type-opacity-ice);
    }

    &.normal{
        color: var(--type-normal);
        background-color: var(--type-opacity-normal);
    }

    &.poison{
        color: var(--type-poison);
        background-color: var(--type-opacity-poison);
    }

    &.psychic{
        color: var(--type-psychic);
        background-color: var(--type-opacity-psychic);
    }

    &.rock{
        color: var(--type-rock);
        background-color: var(--type-opacity-rock);
    }

    &.ghost{
        color: var(--type-ghost);
        background-color: var(--type-opacity-ghost);
    }

    &.water{
        color: var(--type-water);
        background-color: var(--type-opacity-water);
    }

    &.steel{
        color: var(--type-steel);
        background-color: var(--type-opacity-steel);
    }

    &.fire{
        color: var(--type-fire);
        background-color: var(--type-opacity-fire);
    }

    &.flying{
        color: var(--type-flying);
        background-color: var(--type-opacity-flying);
    }
}

.btn-load-more{
    padding: 1.4rem 2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.4rem;
    letter-spacing: -0.01em;
    color: var(--blue-primary);
    background-color: rgba(63, 93, 179, 0.1);
    border-radius: 6px;
    transition: all .3s;

    &:hover{
        background-color: var(--blue-primary);
        color: #fff;
    }
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include centerTotalFlex;
    z-index: 2023;
    opacity: 0;
    pointer-events: none;
    transition: all .3s;

    .overlay{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        background-color: rgba(0,0,0,0.5);
    }

    &[type-pokemon-modal="bug"]{ .box .left-content{ background-image: url("../img/bg-types/bug.svg"); }}
    &[type-pokemon-modal="dark"]{ .box .left-content{ background-image: url("../img/bg-types/dark.svg"); }}
    &[type-pokemon-modal="dragon"]{ .box .left-content{ background-image: url("../img/bg-types/dragon.svg"); }}
    &[type-pokemon-modal="electric"]{ .box .left-content{ background-image: url("../img/bg-types/electric.svg"); }}
    &[type-pokemon-modal="fairy"]{ .box .left-content{ background-image: url("../img/bg-types/fairy.svg"); }}
    &[type-pokemon-modal="fighting"]{ .box .left-content{ background-image: url("../img/bg-types/fighting.svg"); }}
    &[type-pokemon-modal="ground"]{ .box .left-content{ background-image: url("../img/bg-types/ground.svg"); }}
    &[type-pokemon-modal="ice"]{ .box .left-content{ background-image: url("../img/bg-types/ice.svg"); }}
    &[type-pokemon-modal="normal"]{ .box .left-content{ background-image: url("../img/bg-types/normal.svg"); }}
    &[type-pokemon-modal="poison"]{ .box .left-content{ background-image: url("../img/bg-types/poison.svg"); }}
    &[type-pokemon-modal="psychic"]{ .box .left-content{ background-image: url("../img/bg-types/psychic.svg"); }}
    &[type-pokemon-modal="rock"]{ .box .left-content{ background-image: url("../img/bg-types/rock.svg"); }}
    &[type-pokemon-modal="ghost"]{ .box .left-content{ background-image: url("../img/bg-types/ghost.svg"); }}
    &[type-pokemon-modal="grass"]{ .box .left-content{ background-image: url("../img/bg-types/grass.svg"); }}
    &[type-pokemon-modal="steel"]{ .box .left-content{ background-image: url("../img/bg-types/steel.svg"); }}
    &[type-pokemon-modal="water"]{ .box .left-content{ background-image: url("../img/bg-types/water.svg"); }}
    &[type-pokemon-modal="fire"]{ .box .left-content{ background-image: url("../img/bg-types/fire.svg"); }}
    &[type-pokemon-modal="flying"]{ .box .left-content{ background-image: url("../img/bg-types/flying.svg"); }}

    .box{
        position: relative;
        width: 100%;
        max-width: 71rem;
        background-color: #fff;
        z-index: 1;
        border-radius: 1.6rem;
        box-shadow: 0px 10px 40px rgba(13, 12, 72, 0.05);
        display: flex;
        transform: translateY(4rem);
        transition: transform .3s ease-in;
    
        .close{
            position: absolute;
            top: -4.4rem;
            right: 0;
            width: 3.6rem;
            height: 3.6rem;
            @include centerTotalFlex;
            background-color: #fff;
            border-radius: 8px;
        }

        .left-content{
            position: relative;
            width: 100%;
            max-width: 19.1rem;
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            align-items: center;
            justify-content: flex-end;

            .icon{
                position: absolute;
                top: 2rem;
                right: 2rem;
                width: 3.4rem;
                height: 3.4rem;
                background-color: #fff;
                @include centerTotalFlex;
                border-radius: 50%;
            }

            .image{
                position: relative;
                right: -2.5rem;
                width: 100%;
                max-width: 20.2rem;

                img{
                    width: 100%;
                }
            }
        }

        .right-content{
            padding: 3.5rem 7.4rem 2.9rem 7.4rem;

            .name{
                display: flex;
                align-items: flex-end;
                gap: .8rem;
                margin-bottom: .8rem;

                h2{
                    font-weight: 700;
                    font-size: 2.8rem;
                    line-height: 3.4rem;
                    letter-spacing: -0.01em;
                    color: #2F3133;
                }

                span{
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 400;
                    font-size: 1.6rem;
                    line-height: 2rem;
                    letter-spacing: -0.01em;
                    color: #7A7D80;
                    margin-bottom: .7rem;
                }
            }

            .type{
                width: 100%;
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                gap: 1rem;
                margin-bottom: 3.2rem;
            }

            .info{
                display: flex;
                align-items: flex-start;
                gap: 4.8rem;
                margin-bottom: 3.2rem;
                li{
                    span{
                        display: block;
                        font-size: 1.3rem;
                        line-height: 1.6rem;
                        letter-spacing: -0.01em;
                        color: #7A7D80;
                        margin-bottom: .4rem;
                    }
                    strong{
                        font-family: 'Montserrat', sans-serif;
                        font-weight: 600;
                        font-size: 1.4rem;
                        line-height: 1.7rem;
                        letter-spacing: -0.01em;
                        color: #2F3133;
                    }
                }
            }

            .weak{
                margin-bottom: 3.2rem;

                h4{
                    font-family: 'Inter', sans-serif;
                    font-weight: 600;
                    font-size: 1.3rem;
                    line-height: 1.6rem;
                    letter-spacing: -0.01em;
                    color: #4D5053;
                    margin-bottom: 1.6rem;
                }

                ul{
                    width: 100%;
                    display: flex;
                    align-items: flex-end;
                    flex-wrap: wrap;
                    gap: 1rem;
                }
            }

            .stats{
                h5{
                    margin-bottom: 1.6rem;
                    font-family: 'Inter', sans-serif;
                    font-weight: 600;
                    font-size: 1.3rem;
                    line-height: 1.6rem;
                    letter-spacing: -0.01em;
                    color: #4D5053;
                }

                .all{
                    .item{
                        display: flex;
                        align-items:center;
                        justify-content: space-between;

                        &:not(:last-child){
                            margin-bottom: 1.3rem;
                        }
                        
                        span{
                            display: block;
                            width: 6.8rem;
                            font-weight: 400;
                            font-size: 1.2rem;
                            line-height: 1.5rem;
                            color: #7A7D80;
                            white-space: nowrap;
                        }

                        .bar-status{
                            position: relative;
                            width: calc(100% - 8rem);
                            max-width: 28.3rem;
                            height: .3rem;
                            background-color: #EFF3F6;

                            .bar{
                                width: 50%;
                                height: 100%;
                                top: 0;
                                left: 0;
                                position: absolute;
                                z-index: 0;
                                background-color: #C20001;
                            }

                            .separator{
                                position: absolute;
                                width: 100%;
                                height: 100%;
                                top: 0;
                                left: 0;
                                display: flex;
                                align-items: center;
                                justify-content: space-evenly;

                                li{
                                    width: .4rem;
                                    height: .3rem;
                                    background-color: #fff;
                                }
                            }
                        }
                    
                    }
                }
            }
        }
    }

    @media(max-width:560px){
        align-items: flex-end;
        .box{
            flex-direction: column;
            height: 90%;
            width: 100%;
            border-radius: 0;

            .close{
                top: -3.6rem;
                right: 0rem;
                border-radius: .8rem .8rem 0 0;

                img{
                    width: 2.5rem;
                }
            }

            .left-content{
                max-width: 100%;
                height: 12.5rem;
                background-position: center;

                .image{
                    position: absolute;
                    left: 50%;
                    width: 12rem;
                    margin-left: -6rem;
                    bottom: -3rem;

                    img{
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                }
            }

            .right-content{
                padding: 4rem 2.4rem;

                .name, .type, .info{
                    justify-content: center;
                }

                .weak{
                    h4{
                        text-align: center;
                    }

                    ul{
                        justify-content: center;
                    }
                }

                .stats{
                    h5{
                        text-align: center;
                    }

                    .all{
                        .item{
                            .bar-status{
                                max-width: calc(100% - 8rem);
                            }
                        }
                    }

                }
            }
        }

    }
}

.open-modal{
    .modal{
        opacity: 1;
        pointer-events: all;

        .box{
            transform: translateY(0);
        }
    }
}